#markdown-btn {
  will-change: transform;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 0;
  left: 0;
  display: flex;
  padding: 3px 3px;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: hidden;
  justify-content: center;
  background-color: white;
}

#markdown-box {
  color: black;
  will-change: transform;
  position: absolute;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  font-size: 14px !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  border-width: 1px;
  border-image: initial;
  border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(168, 168, 168);
  padding: 10px 16px 5px;
}

.markdown-header {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: black;
  margin: 10px;
  height: 20px;
  font-size: larger;
  font-weight: 550;
}

#markdown-original {
  margin: 10px;
  min-width: 220px;
  max-width: 700px;
  max-height: 400px;
  overflow-x: auto;
  overflow-y: scroll;
}

#markdown-parsed {
  min-width: 220px;
  max-width: 700px;
  max-height: 400px;
  overflow-x: auto;
  overflow-y: scroll;
  margin: 10px;
}

.markdown-textbox {
  padding: 5px 5px;
  border: solid;
  border-width: 2px;
  border-style: solid;
  border-image: initial;
  border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(168, 168, 168);
}
