.textbox {
  margin: 10px;
  color: black;
  will-change: transform;
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 3px;
  box-sizing: border-box;
  border-style: solid;
  font-size: 12px !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  border-width: 1px;
  border-image: initial;
  border-color: rgb(187, 187, 187) rgb(187, 187, 187) rgb(168, 168, 168);
  padding: 10px 16px 5px;
  width: 410px;
  height: 200px;
  overflow: scroll;
}

.markdown-header {
  margin: 12px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 17px;
}

body {
  width: 430px;
  min-height: 160px;
}
