#btn {
  will-change: transform;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  display: flex;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
  justify-content: center;
}
#box{
  will-change: transform;
  position: absolute;
  box-shadow: rgba(255, 0, 0, 0.5);
  background-color: white;
  box-sizing: border-box;
  border-radius: 10px;
  border-style: solid;
}

#textbox{
  user-select: none;

}
